In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

import time 

import torch
import torch.nn as nn

import datetime

import yfinance as yf

def stock_data(ticker, period, interval):
	data = yf.download(tickers=ticker, period=period, interval=interval)
	return data

try: 
    data = stock_data('^GSPC', '5d', '1m')
except:
    print('Falha ao obter dados em: ', datetime.now().time())
    time.sleep(60)

data.reset_index(inplace=True)

#Caso o DataFrame tenha um MultiIndex, remover os níveis extras
if isinstance(data.columns, pd.MultiIndex):
    data.columns = data.columns.droplevel(1)  # Remove o primeiro nível do índice

data = data[["Datetime", "Open", "Close"]]

data

[*********************100%***********************]  1 of 1 completed

Price                  Datetime         Open        Close
0     2025-02-14 14:30:00+00:00  6115.520020  6120.490234
1     2025-02-14 14:31:00+00:00  6120.660156  6116.740234
2     2025-02-14 14:32:00+00:00  6117.439941  6117.390137
3     2025-02-14 14:33:00+00:00  6117.640137  6117.220215
4     2025-02-14 14:34:00+00:00  6116.939941  6118.709961
...                         ...          ...          ...
1940  2025-02-21 20:55:00+00:00  6017.609863  6016.040039
1941  2025-02-21 20:56:00+00:00  6015.879883  6012.229980
1942  2025-02-21 20:57:00+00:00  6012.220215  6012.709961
1943  2025-02-21 20:58:00+00:00  6012.549805  6013.990234
1944  2025-02-21 20:59:00+00:00  6013.959961  6013.459961

[1945 rows x 3 columns]

In [4]:
data = stock_data('^GSPC', '1mo', '2m')
data.reset_index(inplace=True)

data = data[["Datetime", "Close", "Open"]]

#Caso o DataFrame tenha um MultiIndex, remover os níveis extras
if isinstance(data.columns, pd.MultiIndex):
    data.columns = data.columns.droplevel(1)  # Remove o primeiro nível do índice


data

[*********************100%***********************]  1 of 1 completed

Price                  Datetime        Close         Open
0     2025-01-22 14:30:00+00:00  6081.660156  6081.390137
1     2025-01-22 14:32:00+00:00  6078.810059  6081.640137
2     2025-01-22 14:34:00+00:00  6078.580078  6079.060059
3     2025-01-22 14:36:00+00:00  6079.129883  6078.790039
4     2025-01-22 14:38:00+00:00  6079.089844  6079.000000
...                         ...          ...          ...
4283  2025-02-21 20:50:00+00:00  6017.410156  6015.310059
4284  2025-02-21 20:52:00+00:00  6014.250000  6017.339844
4285  2025-02-21 20:54:00+00:00  6016.040039  6014.100098
4286  2025-02-21 20:56:00+00:00  6012.709961  6015.879883
4287  2025-02-21 20:58:00+00:00  6013.459961  6012.549805

[4288 rows x 3 columns]